<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

	<!-- 定义日志输出目标 -->
	<targets>
		<!-- 控制台输出 -->
		<target xsi:type="Console" name="console" />
		<!-- 文件输出 -->
		<target xsi:type="File" name="file" fileName="${basedir}/logs/${shortdate}.log" />
	</targets>

	<!-- 定义日志规则 -->
	<rules>
		<!-- 控制台输出 -->
		<logger name="*" minlevel="Info" writeTo="console" />
		<!-- 文件输出 -->
		<logger name="*" minlevel="Info" writeTo="file" />
	</rules>
</nlog>